@keyframes BottomAnimation {
    0%{
        transform: translateY(0px);
    }
    30%{
        transform: translateY(-4px);
    }
    60%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes TopAnimation {
    0%{
        transform: translate(0px);
    }
    44%{
        transform: translate(-1px, -14px) rotate(-4deg);
    }
    100%{
        transform: translateY(0px) rotate(2deg);
    }
}
@keyframes MidAnimation {
    0%{
        transform: translate(0px);
    }
    36%{
        transform: translate(-1px, -12px) rotate(5deg);
    }
    100%{
        transform: translateY(0px) rotate(-5deg);
    }
}
@keyframes Bot2Animation {
    0%{
        transform: translate(0px);
    }
    42%{
        transform: translate(-1px, -7px) rotate(2deg);
    }
    100%{
        transform: translateY(1px) rotate(-2deg);
    }
}