@import "../../comonnSass/normalize";
@import "mixin";
@import "main";
@import "animations";
@import "../../comonnSass/root";
@import "paralax";
@import '../../comonnSass/headerFooter';

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


html{
    width: 100%;
    display: flex;
    justify-content: center;
    body{
        background-color: var(--WhiteColor-3);
        color: var(--BlackColor);
        width: 100%;
        align-self: center;
        max-width: 2800px;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background: var(--RedColor-1);
    border-radius: 30px;
}

body {
  cursor: url("../../icons/cursor.png"), auto;
}
a:hover{
    cursor: url("../../icons/CursorHover.png"), auto;
}