@keyframes Fall1 {
    0%{
        bottom: 2700px;
    }
    30%{
         rotate:-8deg;
    }
    80%{
         rotate: 10deg;
    }
    90%{
        bottom:0;
    }
    93%{
        rotate: -4deg;
    }
    96%{
        rotate: 3deg;
        bottom: 5px;
    }
    98%{
        rotate: -2deg;
    }
    100%{
        rotate: 0deg;
        bottom: 0;
    }
}
@keyframes Fall2 {
    0%{
        bottom: 2600px;
    }
    30%{
         rotate:-8deg;
    }
    80%{
         rotate: 10deg;
    }
    90%{
        bottom:100px;
    }
    93%{
        rotate: 5deg;
        bottom: 107px;
    }
    98%{
        rotate: -3deg;
    }
    100%{
        
        transform: rotate(0deg);
        bottom: 100px;
        left: 5px;
    }
}
@keyframes Fall3 {
    0%{
        bottom: 2800px;
    }
    30%{
         rotate:-8deg;
    }
    80%{
         rotate: 10deg;
    }
    83%{
        bottom:200px;
    }
    85%{
        rotate: -8deg;
        bottom: 212px;
    }
    90%{
        bottom: 200px;
        rotate: 6deg;
    }
    94%{
        rotate: -3deg;
    }
    98%{
        rotate: 2deg;
    }
    100%{
        transform: rotate(-2deg);
        bottom: 200px;
        left: -1px;
    }
}
@keyframes Fall4 {
    0%{
        bottom: 2600px;
    }
    30%{
         rotate:-8deg;
    }
    80%{
         rotate: 10deg;
    }
    80%{
        bottom: 300px;
    }
    85%{
        rotate: -8deg;
        bottom: 310px;
    }
    90%{
        bottom: 298px;
        rotate: 7deg;
    }
    94%{
        rotate: -5deg;
        bottom: 303px;
    }
    98%{
        rotate: 4deg;
    }
    100%{
        transform: rotate(-2deg);
        bottom: 300px;
        left: -3px;
    }
}
@keyframes Fall5 {
    0%{
        bottom: 2700px;
    }
    30%{
        rotate:-8deg;
    }
    45%{
        rotate: 10deg;
    }
    75%{
        bottom:415px;
        left: 24px;
        rotate: 17deg;
    }
    83%{
        rotate: -14deg;
        bottom: 418px;
        left: -4px;
    }
    87%{
        bottom: 408px;
        rotate: 8deg;
    }
    94%{
        rotate: -5deg;
    }
    100%{
        transform: rotate(3deg);
        bottom: 400px;
        left: 3px;
    }
}
@keyframes Fall6 {
    0%{
        bottom: 2500px;
        rotate: 25deg;
    }
    30%{
         rotate: -16deg;
    }
    81%{
        bottom: 516px;
        rotate: 16deg;
    }
    83%{
        rotate: -18deg;
        bottom: 532px;
    }
    86%{
        rotate: 15deg;
    }
    91%{
        rotate: -11deg;
        bottom: 512px;
    }
    94%{
        rotate: 8deg;
        bottom: 522px;
    }
    97%{
        rotate: -6deg;
    }
    100%{
        rotate: -3deg;
        bottom: 501px;
        left: -4px;
    }
}
@keyframes Fall7 {
    0%{
        bottom: 2700px;
    }
    30%{
        rotate: -31deg;
    }
    78%{
        rotate: 5deg;
        bottom: 624px;
    }
    82%{
        rotate: -17deg;
        bottom: 631px;
        left: 15px;
    }
    86%{
        bottom: 608px;
        rotate: 7deg;
    }
    92%{
        rotate: -12deg;
        bottom: 615px;
    }
    96%{
        rotate: -3deg;
    }
    100%{
        rotate: 7deg;
        bottom: 602px;
        left: 11px;
    }
}