@import "mixin";
@import '../../comonnSass/headerFooter';
@import "main";
@import "footer";
@import "../../comonnSass/normalize";
@import "../../comonnSass/root";
@import "animations";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html{
    width: 100%;
}

html,
body{
    color: var(--BlackColor);
    background-color: var(--PurpleColorReg);
    width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background: var(--RedColor-1);
    border-radius: 30px;
}
body {
  cursor: url("../../icons/cursor.png"), auto;
}
a {
    cursor: url("../../icons/CursorHover.png"), auto;
}