@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
header .PCheader {
  color: var(--GrayColor-1);
  width: 100%;
  height: 207px;
  background-color: var(--WhiteColor-1);
  -webkit-filter: drop-shadow(0px 3px 3px rgba(26, 26, 26, 0.3882352941));
          filter: drop-shadow(0px 3px 3px rgba(26, 26, 26, 0.3882352941));
}
header .PCheader .Upper {
  background-color: var(--WhiteColor-2);
  height: 48px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .PCheader .Upper .ButtonBar {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header .PCheader .Upper .ButtonBar li {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  margin-top: 12px;
  font-weight: 300;
  font-size: 17px;
  border-radius: 7px;
  padding: 2px 3px;
}
header .PCheader .Upper .ButtonBar li:hover {
  color: var(--BlackColor-1);
  -webkit-transition: var(--transition-1);
  transition: var(--transition-1);
  height: 20px;
  font-weight: 500;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
header .PCheader .Upper .Store {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header .PCheader .Upper .Store li {
  height: 24px;
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 3px;
}
header .PCheader .Upper .Store li :nth-child(2) {
  margin: 0px 5px;
}
header .PCheader .Upper .Store li :last-child {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      align-self: center;
}
header .PCheader .Upper .Store li:hover {
  -webkit-transition: var(--transition-1);
  transition: var(--transition-1);
  font-weight: 500;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
header .PCheader .Upper #StoreBasket {
  background-color: var(--BlueColor-1);
  color: var(--GrayColor-1);
  border-radius: 10px 10px 0px 0px;
  height: 32px;
  margin-top: 10px;
  font-size: 17px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 3px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
header .PCheader .Upper #StoreBasket img {
  width: 30px;
  height: 30px;
  -webkit-filter: brightness(0.92);
          filter: brightness(0.92);
}
header .PCheader .Upper #StoreBasket span {
  margin-top: 5px;
  padding: 0px 5px;
  font-size: 20px;
  font-weight: 500;
  font-weight: 700;
}
header .PCheader .Upper #StoreBasket div {
  position: fixed;
  background-color: var(--RedColor-1);
  font-weight: 700;
  color: var(--WhiteColor-1);
  border-radius: 10px;
  height: 20px;
  width: 20px;
  margin: 20px 0px 0px 15px;
}
header .PCheader .Upper #StoreBasket:hover {
  color: var(--BlackColor-1);
  -webkit-transition: var(--transition-1);
  transition: var(--transition-1);
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  height: 38px;
  color: var(--WhiteColor-4);
}
header .PCheader .Upper #StoreBasket:hover img {
  -webkit-transition: var(--transition-1);
  transition: var(--transition-1);
  -webkit-filter: brightness(1);
          filter: brightness(1);
}
header .PCheader .Lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .PCheader .Lower .MainLogo {
  margin-top: 18px;
}
header .PCheader .Lower ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .PCheader .Lower ul .sale {
  font-weight: 700;
  color: var(--WhiteColor-1);
  border-radius: 20px;
  padding: 3px 5px;
  background-color: var(--RedColor-1);
}
header .PCheader .Lower ul li {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  font-weight: 500;
  text-transform: uppercase;
  margin: 60px 10px 0px 10px;
  color: var(--GrayColor-1);
  padding: 5px;
}
header .PCheader .Lower ul li:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: var(--BlackColor);
  background-color: rgb(231, 233, 235);
  border-radius: 10px;
}

.MainIcons {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  background-color: var(--BlueColor-2);
  top: 50px;
  left: -43px;
  width: 50px;
  height: 200px;
  z-index: 5;
  border-radius: 0px 25px 25px 0px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.MainIcons img {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 17px;
}
.MainIcons img:hover {
  background-color: rgba(0, 0, 0, 0.285);
  scale: 1.05;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}
.MainIcons:hover {
  left: 0px;
  -webkit-transition: var(--transition-2);
  transition: var(--transition-2);
}

@media screen and (max-width: 650px) {
  .PCheader {
    display: none;
  }
  .MainIcons {
    display: none;
  }
}
@media screen and (min-width: 651px) {
  header .MobHeader {
    display: none;
  }
}
@media screen and (width: 768px) {
  header .Lower li {
    font-size: 12px;
  }
}
@media screen and (max-width: 650px) {
  header {
    width: 100%;
  }
  header .PCheader {
    display: none;
  }
  header .MainIcons {
    display: none;
  }
  header .MobHeader {
    width: 100%;
    height: 60px;
    background-color: var(--WhiteColor-2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2px 0;
  }
  header .MobHeader .Logo {
    margin: 0px;
  }
  header .MobHeader .Logo img {
    height: 60px;
    width: 60px;
  }
  header .MobHeader .Menu {
    padding: 10px;
    width: 40px;
    height: 40px;
    min-width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .MobHeader .Menu span {
    height: 4px;
    background-color: var(--BlackColor);
    border-radius: 5px;
    width: 100%;
  }
  header .MobHeader .Menu span:last-child {
    width: 80%;
  }
  header .MobHeader .Basket {
    height: 60px;
    width: 60px;
    position: relative;
  }
  header .MobHeader .Basket img {
    margin: 10px;
    width: 40px;
    height: 40px;
  }
  header .MobHeader .Basket .Count {
    background-color: var(--RedColor-1);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
    font-size: 16px;
    padding: 3px;
    color: var(--WhiteColor-1);
    font-weight: 400;
    top: 40px;
    right: 10%;
  }
}
main .LoginSection {
  border-radius: 10px;
  background-color: var(--WhiteColor-2);
  margin: 12%;
  width: 76%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
main .LoginSection .Login {
  padding: 5% 20%;
}
main .LoginSection .MainName {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
main .LoginSection .MainImg {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
main .LoginSection .FormsList {
  letter-spacing: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}
main .LoginSection .FormsList li {
  width: 100%;
}
main .LoginSection .FormsList li .FormName {
  margin-left: 2.5%;
  font-weight: 400;
  font-size: 23px;
}
main .LoginSection .FormsList li form {
  width: 100%;
}
main .LoginSection .FormsList li form input {
  overflow: hidden;
  color: var(--BlueColor-2);
  font-weight: 800;
  font-size: 20px;
  width: 80%;
  padding: 3% 10%;
  margin: 1% 2.5% 2.5% 2.5%;
  letter-spacing: 2px;
  word-spacing: 12px;
  border-radius: 20px;
}
main .LoginSection .LogInSubmit {
  letter-spacing: 3px;
  text-align: center;
  background-color: var(--RedColor-1);
  margin-left: 2.5%;
  font-weight: 800;
  font-size: 20px;
  width: 80%;
  padding: 3% 10%;
  border-radius: 20px;
  color: var(--WhiteColor-1);
}
main .LoginSection .Text {
  margin-top: 20px;
  text-align: center;
  color: var(--GrayColor-3);
  font-weight: 600;
  padding-bottom: 50px;
}
main .LoginSection .Text a {
  color: var(--RedColor-1);
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  .Login {
    padding: 5% 10%;
  }
}
footer {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--FooterColor);
  position: relative;
}
footer .FirstBlock {
  width: 45%;
  height: 186px;
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .FirstBlock ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .FirstBlock ul li {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
footer .FirstBlock ul li span {
  text-align: center;
  margin-top: 15px;
}
footer .FirstBlock ul li img {
  height: 38px;
}
footer .FirstBlock .SROInfo {
  color: #4e4e4e;
}
footer .InfoBlock {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .InfoBlock li {
  text-wrap: nowrap;
  margin: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
footer .InfoBlock li span {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
}
footer .InfoBlock li .Name {
  font-size: 16px;
  font-weight: 600;
}
footer .Social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
  width: 130px;
  scale: 1.25;
}
footer .Social a {
  height: 20px;
  width: 20px;
  background-color: var(--WhiteColor-1);
  border-radius: 100%;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .Social a img {
  height: 20px;
  width: 20px;
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
}
footer .Social a:hover {
  background-color: var(--BlueColor-2);
  -webkit-transition: var(--transition-2);
  transition: var(--transition-2);
}
footer .Social a:hover img {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

@media screen and (max-width: 480px) {
  footer {
    height: 300px;
    margin: 0px;
    padding: 3%;
  }
  footer .InfoBlock {
    margin-left: 3%;
  }
  footer .InfoBlock li {
    margin: 0;
  }
  footer .InfoBlock li:first-child {
    display: none;
  }
  footer .InfoBlock li:nth-child(2) {
    display: none;
  }
  footer .InfoBlock li:nth-child(3) {
    display: none;
  }
  footer .FirstBlock {
    width: 100%;
  }
  footer .FirstBlock ul {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .FirstBlock ul li {
    margin-bottom: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 40%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .FirstBlock ul li span {
    margin-top: 0px;
    margin-left: 10px;
    text-align: start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-wrap: nowrap;
  }
  footer .FirstBlock ul li span:last-child {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  footer .Social {
    margin-top: 15px;
  }
  footer .SROInfo {
    position: absolute;
    bottom: 10px;
    width: 300px;
  }
}
@media screen and (max-width: 370px) {
  footer {
    height: 300px;
  }
  footer li {
    font-size: 11px;
  }
  footer .FirstBlock li {
    text-wrap: nowrap;
  }
  footer .FirstBlock li img {
    scale: 0.4;
  }
}
@media screen and (max-width: 370px) and (max-width: 300px) {
  footer .FirstBlock {
    width: 45%;
  }
  footer li {
    width: 30%;
    height: 100%;
  }
  footer .InfoBlock {
    text-wrap: wrap;
    width: 30%;
  }
  footer .InfoBlock .Social {
    width: 20%;
    scale: 1.1;
  }
}
@media screen and (min-width: 500px) {
  footer {
    padding: 3%;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input,
textarea,
button {
  border: none;
  outline: none;
}

:root {
  --WhiteColor-1:#FFFFFF;
  --WhiteColor-2:#F7EBE5;
  --WhiteColor-3:#F7F7F7;
  --WhiteColor-4: #fafafa;
  --GrayColor-1:#4a4a4d;
  --GrayColor-2:#bababd;
  --GrayColor-3:#7f7f81;
  --BlackColor:#1a1a1a;
  --RedColor-1:#E7426A;
  --BlueColor-1:#B3D9F3;
  --BlueColor-2:#8CC4EC;
  --FooterColor: #EBEDEE;
  --PurpleColor-1:#c7c1d1;
  --transition-1: cubic-bezier(.69,.1,.45,1.47) 0.5s;
  --transition-2: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

html {
  width: 100%;
}

html,
body {
  color: var(--BlackColor);
  background-color: var(--PurpleColor-1);
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--RedColor-1);
  border-radius: 30px;
}

body {
  cursor: url("../../icons/cursor.png"), auto;
}

a:hover {
  cursor: url("../../icons/CursorHover.png"), auto;
}