main {
  .LoginSection {
    border-radius: 10px;
    background-color: var(--WhiteColor-2);
    margin: 12%;
    width: 76%;
    height: fit-content;
    .Login {
      padding: 5% 20%;
    }
    .MainName {
      text-align: center;
      font-size: 35px;
      font-weight: 700;
    }
    .MainImg {
      width: 100%;
      border-radius: 10px 10px 0px 0px;
    }
    .FormsList {
      letter-spacing: 3px;
      display: flex;
      flex-direction: column;
      li {
        .FormName {
          margin-left: 2.5%;
          font-weight: 400;
          font-size: 23px;
        }
        width: 100%;
        form {
          width: 100%;
          input {
            overflow: hidden;
            color: var(--BlueColor-2);
            font-weight: 800;
            font-size: 20px;
            width: 80%;
            padding: 3% 10%;
            margin: 1% 2.5% 2.5% 2.5%;
            letter-spacing: 2px;
            word-spacing: 12px;
            border-radius: 20px;
          }
        }
      }
      margin-bottom: 40px;
    }
    .LogInSubmit {
      letter-spacing: 3px;
      text-align: center;
      background-color: var(--RedColor-1);
      margin-left: 2.5%;
      font-weight: 800;
      font-size: 20px;
      width: 80%;
      padding: 3% 10%;
      border-radius: 20px;
      color: var(--WhiteColor-1);
    }
    .Text {
      margin-top: 20px;
      text-align: center;
      color: var(--GrayColor-3);
      font-weight: 600;
      padding-bottom: 50px;
      a {
        color: var(--RedColor-1);
        font-weight: 800;
      }
    }
  }
}

@media screen and (max-width: 600px) {
    .Login {
      padding: 5% 10%;
    }
}
